body{
    background-image: url(desp91h-c21ef09c-8ee8-4735-a820-b68ffdf2a3e1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
	background-attachment: fixed;
}
.letter {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-family: "Brush Script MT", cursive;
    border: 3px solid rgb(0, 0, 0);
}
